a {
  text-decoration: none;
  color: #68707d;

  &:hover {
    color: #ff7d1a;
  }
}

li {
  list-style-type: none;
  margin-bottom: 1rem;
}

input {
  z-index: 5;
  position: absolute;
  display: block;
  height: 2rem;
  width: 2rem;
  transform: translateX(-4px) translateY(-4px);
  opacity: 0;
  cursor: pointer;
}

.hamburgerLines {
  height: 26px;
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // transform: translateX(55px);
}

.line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: black;
}

.line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.line2 {
  transition: transform 0.2s ease-in-out;
}

.line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

//makes x
input[type="checkbox"]:checked ~ .hamburgerLines .line1 {
  transform: rotate(45deg);
}
input[type="checkbox"]:checked ~ .hamburgerLines .line2 {
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ .hamburgerLines .line3 {
  transform: rotate(-45deg);
}

//show menu items
input[type="checkbox"]:checked ~ .navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // transition: transform 0.5s ease-in-out;
}

.hide {
  display: none;
}
